* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary);
  color: var(--primary-50);
}

main {
  padding-top: 8dvh;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

/* Headers */

:is(h1, h2, h3, h4, h5) {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* letter-spacing: 0.125rem; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
  font-weight: 300;
}

/* Use this everywhere! */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 800px) {
    padding: 0 2rem;
  }
}

/* Fonts */
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
