nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 8dvh;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
  z-index: 10;
  backdrop-filter: blur(2rem);
}

.nav-content {
  display: flex;
  align-items: center;
  height: inherit;
}
