button {
  all: unset;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
}

.btn-filled,
.btn-outline {
  text-transform: capitalize;
  box-shadow: var(--btn-shadow);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  transition: scale 0.125s ease-out;

  &:hover {
    box-shadow: var(--btn-hover-shadow);
  }

  &:active {
    scale: 0.925;
  }
}

.btn-filled {
  background-color: var(--secondary);
  color: var(--primary-950);
  border: 1px solid var(--secondary-900);

  &:hover {
    background-color: var(--secondary-400);
  }
}

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: var(--primary-950);

  &:hover {
    border-color: var(--secondary);
  }
}
